Send node version in user-agent

When a server is requested by a browser it can parse browser version from `user-agent`.
`node-fetch` could send node version in `user-agent` header as well.

Something like that maybe : `node/8.6.0 node-fetch/1.0 (+https://github.com/bitinn/node-fetch)`

I see, my use case involves a local server so I'm not worried about 'leaking' my nodejs version to myself.
I understand your point about sensitive information.

I set the header myself in order to know the nodejs version pinging my server, that's fine like that.

btw, chrome will start removing OS build number.

> This will prevent abuses of that information such as exploit targeting and fingerprinting. It'll also bring Chrome closer in line with [RFC 7231 section 5.5.3.](https://tools.ietf.org/html/rfc7231#section-5.5.3)

https://www.chromestatus.com/features/4558585463832576