Document proper way to extract 'Set-Cookie' response headers

The `Set-Cookie` header is special, it is **not** correct to combine multiple `Set-Cookie` headers into a single value separated by commas because it can change the semantics.

Reference:
* whatwg fetch, "Headers class": https://fetch.spec.whatwg.org/#headers-class (see the note directly below the structure definition of `Headers`)
* RFC6265 section 3: https://tools.ietf.org/html/rfc6265#section-3

I think the only correct way to parse this header with `node-fetch` is by using `raw()`. This is not at all obvious and should probably be documented.

Some (untested!) example code:

```
        if (cookieJar && res.headers.has('Set-Cookie')) {
            for (const [k, vv] of Object.entries(res.headers.raw())) {
                if (k.toLowerCase() === 'set-cookie') {
                    for (const v of vv) {
                        await promisify(cookieJar.setCookie)(v, url);
                    }
                }
            }
        }
```

Looking into it a bit more it's becoming clear that the Fetch API is just the wrong layer to handle this.

Both cookies and HTTP authentication should probably be implemented in the `agent` being used by `node-fetch`, not on top of `node-fetch`. This makes the situation a lot more similar to to browser, which is what the Fetch spec is designed for.

If you try to naively use `node-fetch` for such cases it will **not** do what you want. Besides the problems I've already described you would have to handle redirects manually, otherwise `node-fetch` will send the `Authorization` or `Cookie` request headers intended for one origin to the one being redirected to. There may be other problems as well...

Either way,  these problems should be documented.

+1 to this. I've been digging like crazy through all cookie related issues and I'm stil unsure how `node-fetch` it's handling cookies.

Yes, this is a known limit and `raw()` is your best bet. Fetch used to provide an API to get cookies as array but deprecated it. (See #251)

But I believe there are quite a few packages that handles cookies with node-fetch, search npm for some solutions.

And for future readers: since `node-fetch` has 100% coverage, the best place to look up a solution is at:

https://github.com/bitinn/node-fetch/blob/master/test/test.js

What I did was a weird thing. I couldn't for some reason send `set-cookie` back to electron renderer process so I use `fs` to `fs.writeFile('...', res.headers.get('set-cookie'), 'utf8')` then I read from this file the cookie value. So weird but it works.

this is now documented in readme